@media (min-width: 768px) {
  .main-nav  {
    display: flex;
    flex-direction:row;
    justify-content:center
  }


  .footer_left, a, li {
    display: flex;
    justify-content: flex-end;
    margin: 8px;
    font-weight: bold;
    color: black;
  }
}



  @media (min-width: 1024px) {
    .main-header,.main-nav {
      display: flex;
      justify-content: space-between;
    }
  
}



@media (min-width: 1250px) {
  .main-header,.main-nav {
    
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    font-size: larger;
  
  }

  .footer_list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: larger;
    color: black;
    padding: 10px 15px 30px;
  }
}