/* 
Base Style */

  /* .main-header,
  .main-nav  {
  display: flex;
  flex-direction: column;
  
} */

/* Media Queries */

@media (min-width: 320px) {

  .main-header,
  .main-nav {
    display: grid;
  }
} 
.footer_left {
  display: none;
}

@media (min-width: 768px) {
  .main-nav , .a1, .a2, .a3 {
    display: flex;
    flex-direction:row;
    justify-content:center
  }

   .bild_0 {
    float: right;
    padding-top: 30px;
    width: 40%;
    padding-left: 10px;
    padding-bottom: 10px;
  } 
  .about-myself {
    text-align: left;
    padding-top: 25px;
    padding-right: 50px;
  }  
  .tag_1 {
    margin-top: 10%;
    align-items: center;
  }

  .footer_item2 {
    display: none;
  }
  .footer_list {
    margin-left: 15px;
  } 
  
  .footer_left, a, li {
    display: flex;
    justify-content: flex-end;
    margin: 8px;
    font-weight: bold;
    color: black;
  }
  a:link {
    text-decoration: none;
  }
}

@media (min-width: 1024px) {
  .main-header,.main-nav {
    
    display: flex;
    justify-content: space-between;
  
  }
  .a0 {
    padding-bottom: 20px;
  }

  
  }
